ul li
{
    list-style:none;
}
.title {
    background: linear-gradient(to top right,black,deepskyblue,blue,deepskyblue);
    height: 70px;
    text-align: center;
    color: white;
    font-size: 26px;
}

@media screen and (max-width:400px ) {
    .title {
        width: 500px;
    }
}

.content {
    margin-top: 0px;
    margin-left: 10px;
    padding: 20px;
    font-size: 14px;
}

@media screen and (max-width:1000px ) {
    .content {
        margin-top: px;
        margin-left: 0px;
        height: 800px;
        width: 427px;
    }
}

.sidebar {
    background-color:;
    height: 360px;
    width: 300px;
    padding: 20px;
    font-size: 14px;
    margin-left: 0px;
    display: inline-block;
}

@media screen and (max-width:1000px ) {
    .sidebar {
        width: 427px;
        margin-top: 10px;
        height: 260px;
    }
}

.digit {
    margin-left: 220px;
    margin-top: -240px;
}

.right {
    height: 450px;
    margin-top: 10px;
    color: white;
}

@media screen and (max-width:400px ) {
    .right h1 {
        width: 500px;
    }
}

h1 {
    color: black;
    text-align: center;
}

.right-edu {
    background: linear-gradient(to top right,black,deepskyblue,blue,deepskyblue);
    margin-top: 60px;
}

@media screen and (max-width:400px ) {
    .right-edu {
        width: 500px;
    }
}

.edu {
    background-color:;
    padding: 10px;
    height: 300px;
    width: 300px;
    margin-left: 5px;
    display: inline-block;
    margin-top: 10px;
}

@media screen and (max-width:1000px ) {
    .edu {
        margin-top: 10px;
        margin-left: 20px;
        width: 447px;
        height: 300px;
    }
}

.skills-listen {
    background-color: #cccccc;
    width: 85%;
    margin-top: 5px;
    padding: 2px;
}

.skills-time {
    background-color: darkviolet;
    margin-top: 5px;
    padding: 2px;
    width: 92%;
}

.skills-communicate {
    background-color: #cccccc;
    width: 95%;
    margin-top: 5px;
    padding: 2px;
}

.skills-team {
    background-color: darkviolet;
    width: 80%;
    margin-top: 5px;
    padding: 2px;
}

.skills-shark {
    background-color: blue;
    width: 89%;
    margin-top: 5px;
    padding: 2px;
}

.skills-core {
    background-color: #cccccc;
    width: 79%;
    margin-top: 5px;
    padding: 2px;
}

.skills-code {
    background-color: darkviolet;
    width: 70%;
    margin-top: 5px;
    padding: 2px;
}

.skills-web {
    background-color: #cccccc;
    width: 70%;
    margin-top: 5px;
    padding: 2px;
}

.skills-dev {
    background-color: darkviolet;
    width: 80%;
    margin-top: 5px;
    padding: 2px;
}

.skills-js {
    background-color: #cccccc;
    width: 75%;
    margin-top: 5px;
    padding: 2px;
}

.skills-ps {
    background-color: darkviolet;
    width: 60%;
    margin-top: 5px;
    padding: 2px;
}

.company-list {
    background-color:;
    margin-top: -15px;
    margin-left: -20px;
    height: 360px;
    color: white;
    display:;
}

.company {
    background: linear-gradient(to top right,black,deepskyblue,blue,deepskyblue);
    margin-left: 5px;
    width: 321px;
    padding: 10px;
    display: inline-block;
    margin-top: 50px;
    list-style:none;
}

@media screen and (max-width:1000px ) {
    .company {
        margin-top: 10px;
        margin-left: 0px;
        width: 490px;
        text-align: center;
    }
}

@media screen and (max-width:400px ) {
    .company {
        margin-top: 10px;
        margin-left: 0px;
        width: 500px;
        text-align: center;
    }
}

.work {
    height: 420px;
    padding: 20px;
    margin-top: 40px;
    display:;
    height: 500px;
}

@media screen and (max-width:1000px ) {
    .work {
        margin-top: 610px;
        margin-left: 0px;
        width: 430px;
        height: 700px;
    }
}

.footer {
    background-color: black;
    height: 70px;
    color: white;
    text-align: center;
    padding-top: 20px;
}

@media screen and (max-width:400px ) {
    .footer {
        width: 500px;
    }
}
